.logo {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo__image {
    display: flex;
    align-items: center;
}

.logo__image_header {
    width: 40px;
    height: 40px;
}

.logo__image_footer {
    width: 31px;
    height: 31px;
}

.logo__text-container {
    display: flex;
    align-items: baseline;
}

.logo__text {
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}

.logo__author {
    display: none;
}


@media (max-width: 540px) {
    .logo {
        flex-shrink: 0;
    }

    .logo__text_header {
        display: none;
    }

}

@media (min-width: 768px) {
    .logo__author {
        flex-shrink: 0;
        display: block;
        font-size: 13px;
        color: white;
        text-transform: uppercase;
    } 

    .logo__text_header {
      font-size: 41px;
    }

    .logo__text_footer {
        font-size: 29px;
    }

    .logo__image_header {
        width: 85px;
        height: 85px;
    }

    .logo__image_footer {
        width: 56px;
        height: 56px;
    }
}

@media (max-width: 992px) {
    .logo__text-container {
        flex-wrap: wrap;
    }
}

