.middle-bar__container {
    background-image: url(../../img/middle_bar_background.png);
    background-size: cover;  
}

.middle-bar {
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: stretch;
}

.middle-bar__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    font-size: 23px;
    line-height: 1.2;
    text-transform: uppercase;
}

.middle-bar__item:before {
    display: inline-block;
    color: #f5c506;
    opacity: 1;
    font-size: 2.7em;
}

@media (max-width: 540px) {
    .middle-bar__item {
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .middle-bar__container {
        border-top: 1px solid #eec006;
        border-bottom: 1px solid #eec006;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .middle-bar {
        height: 216px;
    }  

    .middle-bar__item {
        border-right: 1px solid rgb(202, 202, 202);
        font-size: 2.7rem;
    }

    .middle-bar__item:first-child {
        border-left: 1px solid rgb(202, 202, 202);
    }
    
    .middle-bar__item:before {
        font-size: 4em;
        margin-bottom: 7px;
    }
}

  